body
{
  color: white;
  background: #c0d3ff;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed rgb(255, 0, 0);
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}

.Emotions{
  font-size:18px;
  border-radius:10px;
  letter-spacing:10px;
}

label{
  font-size:15px;
  color: rgb(115, 255, 0);
  padding:6px;
  border-radius:10px;
  background-color: rgb(255, 255, 255);
}
